
{% extends 'base.html' %}
{% block title %} Profile Update {% endblock title %}

{% block header %}   {% include 'header.html' %}   {% endblock header %}

{% block carousel %}   {% include 'carousel.html' %}     {% endblock carousel %}     

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center text-capitalize latest">{{profile.first_name}} Profile</h2>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-3 col-lg-3 pt-5">
            <div class="prof_img">
                <img src="{{profile.pix.url}}" class="w-100 rounded-pill" alt="">
            </div>
        </div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6 mb-5 game">
            <div class="cform">
                <div class="ccform">
                    <form action="{% url 'profile_update' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">
                        {{update.as_p}}   
                      </div>
                        <button type="submit" class="btn btn-primary">Update</button>              
                    </form>
                </div>
            </div>
        </div>

        <div class="col-10 col-sm-10 col-md-3 col-lg-3 pt-5">
            <ul class="list-unstyled">
                <li class="mb-3"><a href="{% url 'index' %}" class="btn w-75 btn-info">Home</a></li>
                <li class="mb-3"><a href="{% url 'profile' %}" class="btn w-75 btn-info">Profile</a></li>
                <li class="mb-3"><a href="{% url 'profile_update' %}" class="btn w-75 btn-info">Profile_update</a></li>
                <li class="mb-3"><a href="" class="btn w-75 btn-info">Shopcart</a></li>
                <li class="mb-3"><a href="{% url 'password' %}" class="btn w-75 btn-info">Password Update</a></li>
            </ul>
        </div>
    </div>
</div>



{% endblock content %}

{% block footer %}   {% include 'footer.html' %}   {% endblock footer %}