
{% extends 'base.html' %}
{% block title %} Search {% endblock title %}

{% block header %}   {% include 'header.html' %}   {% endblock header %}

{% block carousel %}   {% include 'carousel.html' %}     {% endblock carousel %}     

{% block content %}

{% if items %}

<div class="container mt-5 mb-5">
    <h2 class="text-center text-capitalize latest">All Products</h2>
    <div class="row gy-3 justify-content-center">
      {% if searched_items %}
          {% for items in searched_items %}
            <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <div class="card">
                <img src="{{items.img_r.url}}" class="card-img-top imgg" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product: {{items.title}}</h5>
                  <p class="card-text">Price: ${{items.price}}</p>
                  <p class="card-text">Description: {{items.description}}</p>
                  <a href="{% url 'details' items.id %}" class="btn btn-primary">Product details</a>
                </div>
              </div>
            </div>
          {% endfor %}
      {% endif %}
    </div>
  </div>

{% else %}
  <h3 class= "card-tittle mt-5 mb-3">You have searched for {{items}}. Not found!...</h3>
{% endif %}

{% endblock content %}

{% block footer %}   {% include 'footer.html' %}   {% endblock footer %}