{% load static %}

<div class="container mt-5 mb-5 text-capitalize">
    <h2 class="text-center text-capitalize latest">Our team</h2>
    <div class="row gy-3 justify-content-center">
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate">
          <img src="{% static '' %}img/carousel3.jpg" class="card-img-top rounded-circle imgg" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: Cyber dev</h5>
            <p class="card-text">portfolio: Jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn">meet</a>
          </div>
        </div>
      </div>

      <div class="col-8 col-sm-6 col-md-4">
         <div class="card border-transparent fate">
        <img src="{% static '' %}img/carousel3.jpg" class="card-img-top rounded-circle imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team: cyber dev2.</h5>
          <p class="card-text">portfolio: Jnr. dev.</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
      </div>

      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate">
          <img src="{% static '' %}img/carousel3.jpg" class="card-img-top rounded-circle imgg" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: cuber dev3</h5>
            <p class="card-text">portfolio: Jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn">meet</a>
          </div>
        </div>
      </div>
    </div>
  </div>